body{
    font-size: 14px;
    font-family: sans-serif
}

a{
    color: inherit;
}

.main-article{
    font-size: 1.5em;
    border: 2px dotted pink;
    text-align: center;
    color: chocolate;
}

.main-article-heading{
    font-size: 1.2em;
    border: inherit;
}

.main-article-content{

}

.main-article-content{
    line-height: 1.2;
}

.main-article-blokquote{
    border: inherit;
    color: initial;
}

.initial-align{
    text-align: initial;
}
